.progress {
    margin: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 4px;

    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
